{% extends 'base.html' %}
{% load static %}

{% block title %}О магазине{% endblock title %}

{% block content %}
    <!-- Start Banner -->
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>Добро пожаловать!</h1>
                    <p>
                        Рады приветствовать Вас в интернет-магазине мыла и SPA-продуктов ручной работы.
                        Здесь Вы найдете натуральное мыло и средства для ухода за телом из натуральных ингредиентов,
                        подарки, которые дарят радость и удивление.</p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/about.png" alt="О нас">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row pt-5 pb-3">
            <div class="col-lg-8 m-auto">
                <h1 class="h1">Как мы работаем</h1>
                    <p>После оформления заказа мы свяжемся с вами по телефону или иным способом (укажите в комментарии
                    к заказу, как вам будет удобнее). На этом этапе оговариваются сроки выполнения заказа, стоимость
                    доставки, скидки.</p>
                    <p>В дальнейшем по электронной почте мы вышлем реквизиты для оплаты и будем держать вас в курсе
                    этапов выполнения заказа.</p>
                    <p>Кроме того, информацию о заказе вы можете посмотреть в своем личном кабинете, если вы
                    <a rel="sponsored" class="text-success" href="{% url 'register' %}">зарегистрированы</a>
                    в нашем магазине.</p>
                <p><strong>Желаем удачных покупок и отличного настроения!</strong></p>
            </div>
        </div>


        <div class="row pt-5 pb-3">
            <div class="col-lg-8 m-auto">
                <h1 class="h1">Доставка</h1>
                    <p>Самовывоз в Санкт-Петербурге на Васильевском острове, м. Василеостровская.</p>
                    <p>Почта России - по тарифам почты.</p>
                    <p>Транспортные  компании:  СДЭК, Boxberry или  другие по вашему желанию.</p>
                    <p>Срочная доставка по Санкт-Петербургу в день заказа Dostavista, Яндекс Go. </p>
                    <p>Все вопросы можно уточнить в WhatsApp <a href="https://wa.me/+79313492589">+79313492589</a> или Telegram <a href="https://t.me/soapgift/">soapgift</a></p>
            </div>
        </div>

        <div class="row pt-5 pb-3">
            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-hand-holding"></i></div>
                    <h2 class="h5 mt-4 text-center">Ручная работа</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-seedling"></i></div>
                    <h2 class="h5 mt-4 text-center">Все натуральное</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-sun"></i></div>
                    <h2 class="h5 mt-4 text-center">Красота и уход</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">Услуги доставки</h2>
                </div>
            </div>

        </div>
    </section>
    <!-- End Section -->

{% endblock content %}