{% extends 'base.html' %}
{% load static %}

{% block title %}Корзина{% endblock title %}

{% block head_plus %}
 <link rel="stylesheet" href="{% static '/css/custom.css' %}">
{% endblock head_plus %}


{% block content %}
    <!-- Start Contact -->
<div class="all bg-light">


    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Корзина</h1>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-4 text-center">
                    <li class="list-inline-item">
                        <a class="h6 text-dark text-decoration-none mr-3" id="select" href="#">Выделить</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h6 text-dark text-decoration-none mr-3" id="clear" href="#">Снять</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="h6 text-dark text-decoration-none mr-3" id="delete" href="#">Удалить</a>
                    </li>
                </div>
            </div>

            {% if products %}
            {% for product in products %}
            <div class="row" id="row_{{ product.id }}">
                <div class="col-md-1 m-auto text-center">
                    <img {% if not product.active %} style="filter: brightness(40%);" {% endif %} class="card-img rounded-0 img-fluid" src="{{ product.photo }}">
                </div>
                <div class="col-md-4 m-auto">
                    <a href="{% url 'shop-single' product.alias %}" class="h4 text-dark text-decoration-none">{{ product.name }}</a>
                </div>
                <div class="col-md-1 m-auto">
                    <span id="price_{{ product.id }}">{{ product.actual_price }}</span> &#x20bd;
                </div>
                <div class="col-md-2 m-auto text-center">
                    <div class="">
                        <ul class="list-inline pb-3">
                            <li>
                                <p>Количество</p>
                            </li>
                            <li class="list-inline-item"><span class="btn btn-success" name="btn-minus" id="{{ product.id }}">-</span></li>
                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value_{{ product.id }}">{{ product.quantity }}</span></li>
                            <li class="list-inline-item"><span class="btn btn-success" name="btn-plus" id="{{ product.id }}">+</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1 m-auto">
                    <span id="sum_{{ product.id }}">0</span> &#x20bd;
                </div>
                <div class="col-md-1 m-auto">
                    <div align="right"><a class="manag text-decoration-none" href="#" id="{{ product.id }}"> &#10006; </a></div>
                    <div class="form-switch">
                        <input class="form-check-input" type="checkbox" name="{{ product.id }}" id="switch_{{ product.id }}" checked>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row justify-content-end">
                <div class="col-md-4 text-center">
                    <li class="list-inline-item">
                        <span class="h3">Сумма:</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="h3"><span id="total_sum">0</span> &#x20bd;</span>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-success" name="send">Добавить в заказ</a>
                    </li>
                </div>
            </div>

<!-- Изменение корзины -->
            <form action="{% url 'basket' %}" method="post" id="form_work_basket">
                {% csrf_token %}
            </form>
<!-- Оформление заказа -->
            <form action="{% url 'order' %}" method="post" id="order_send">
                <input type="hidden" id="order" name="order" value="">
                {% csrf_token %}
            </form>

            {% endif %}

        </div>
    </div>


</div>

    <!-- End Contact -->
{% endblock content %}

{% block script_plus %}
    <script src="{% static '/js/basket_and_order.js' %}"></script>
{% endblock script_plus %}
