{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="w-100 img-fluid" src="{% static '/img/suvenirnoe.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success">Подарок к празднику!</h1>
                                <h3 class="h2">Порадуйте своих близких или себя любимого <b>необычным подарком</b></h3>
                                <p>
                                    {% if holidays %}
                                    Вы не забыли что скоро...
                                    {% for holiday in holidays %}
                                    <a rel="sponsored" class="text-success" href="{% url 'shop' holiday.alias %}">{{ holiday.name }}!</a>
                                    {% endfor %}
                                    {% endif %}
                                    У нас вы можете найти подарки на <a rel="sponsored" class="text-success" href="{% url 'shop' 'birthday' %}">День рождения</a>,
                                    <a rel="sponsored" class="text-success" href="{% url 'shop' 'ubiley' %}">Юбилей</a>,
                                    <a rel="sponsored" class="text-success" href="{% url 'shop' 'svadba' %}">Свадьбу</a> или просто для
                                    <a rel="sponsored" class="text-success" href="{% url 'shop' %}">Хорошего настроения</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid img-circle" src="{% static '/img/snulya.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Мыло</h1>
                                <h3 class="h2">Самое полезное и натуральное мыло называют мылом "с нуля".</h3>
                                <p>
                                    <a rel="sponsored" class="text-success" href="{% url 'shop' 'mylo_s_nulya' %}">
                                        Мыло с нуля</a> сварено  из <strong>натуральных ингредиентов</strong>, то есть
                                    из масел высшего качества и щелочи. В зависимости от состава такое мыло не просто
                                    бережно очищает, но питает и ухаживает за кожей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static '/img/banner_img_03.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">SPA-продукты</h1>
                                <h3 class="h2">Это продукты из натуральных масел для здоровья вашей кожи.</h3>
                                <p>
                                <a rel="sponsored" class="text-success" href="{% url 'shop' 'spa-produkty' %}">
                                    Spa-продукты</a> для того, чтобы побаловать вашу кожу: напитать ее полезными маслами,
                                    вернуть тонус, вывести токсины, ускорить обмен веществ, улучшить микроциркуляцию
                                    крови, снять стресс, убрать целлюлит. <strong>Нежный уход</strong>
                                    и наслаждение от принятия ванны.</p>                               </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-7 m-auto">
                <h1 class="h1">Товары месяца</h1>
                <p>
                    Люди покупают то, что им нравится.
                    Мы знаем, какие товары в нашем магазине больше всего любят наши клиенты. И рекомендуем лучшее Вам.
                </p>
            </div>
        </div>
        <div class="row">
            {% for product in products_favorite %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="{% url 'shop-single' product.alias %}"><img src="{{ product.photo }}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{ product.name }}</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'shop-single' product.alias %}">
                Посмотреть товар</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-7 m-auto">
                    <h1 class="h1">Новые поступления</h1>
                    <p>
                        Все самое популярное когда-то было новым. Предлагаем Вам попробовать наши новинки.
                        Вполне возможно, что именно эти товары вскоре станут Вашими любимыми.
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products_new %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'shop-single' product.alias %}">
                            <img src="{{ product.photo }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right">{{ product.actual_price }}&#x20bd;</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">{{ product.name }}</a>
                            <p class="card-text">
                                {{ product.description }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock content %}
