{% extends 'base.html' %}
{% load static %}

{% block title %}Оформление заказа{% endblock title %}

{% block head_plus %}
 <link rel="stylesheet" href="{% static '/css/custom.css' %}">
{% endblock head_plus %}


{% block content %}
    <!-- Start Contact -->
<div class="all bg-light">


    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Оформление заказа</h1>
            </div>
        </div>
    </div>

    <div class="table">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ol start="1">
                    {% for product in products %}
                        <li>{{ product.name }} ({{ product.actual_price }} x {{ product.quantity }}) = {{ product.sum }} &#x20bd;</li>
                    {% endfor %}
                    </ol>
                    <b>Сумма заказа: {{ total_sum }} &#x20bd;</b>
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <p>Чтобы использовать данные из профиля, <a class="h3 text-dark text-decoration-none" href="{% url 'login' %}">авторизуйтесь</a> или <a class="h3 text-dark text-decoration-none" href="{% url 'register' %}">зарегистрируйтесь</a></p>
            {% else %}
                {% if edit %}
                    <p>Для автоматического заполнения полей формы, пожалуйста, <a class="h3 text-dark text-decoration-none" href="{% url 'profile' %}">заполните</a> ваш профиль.</p>
                {% endif %}
            {% endif %}
            <form action="{% url 'order' %}" method="post" id="new_order">
                {% csrf_token %}
                {{ form_order.non_field_errors }}
                {{ form_alternate_profile.non_field_errors }}
                <!--                Ошибки-->
                <div class="row gy-1 text-danger" id="">
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.last_name.errors }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.first_name.errors }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.patronymic.errors }}
                    </div>
                </div>
                <!--                Поля-->
                <div class="row gy-4" id="">
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.last_name }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.first_name }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.patronymic }}
                    </div>
                </div>
                <!--                Ошибки-->
                <div class="row gy-0 text-danger" id="">
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.email.errors }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.phoneNumber.errors }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.address.errors }}
                    </div>
                </div>
                <!--                Поля-->
                <div class="row gy-4" id="">
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.email }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.phoneNumber }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_alternate_profile.address }}
                    </div>
                </div>
                <!--                Поля-->
                <div class="row gy-2" id="">
                    <div class="col-md-3 m-auto">
                        {{ form_order.delivery_method.errors }}
                        {{ form_order.delivery_method }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {{ form_order.description.errors }}
                        {{ form_order.description }}
                    </div>
                    <div class="col-md-3 m-auto">
                        {% if not edit %}
                        <div class="form-switch">
                            <input class="form-check-input" type="checkbox" name='readonly' id="readonly" checked>
                            <label>Использовать профиль</label>
                        </div>
                        {% else %}
                        <a href="{% url 'order' %}">
                            <button type="button" class="btn btn-success btn-sm">Сброс</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-3 text-center">
                        <button type="submit" class="btn btn-success btn-lg" name="submit">Оформить заказ</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>

    <!-- End Contact -->
{% endblock content %}

{% block script_plus %}
    <script src="{% static '/js/order.js' %}"></script>
{% endblock script_plus %}
