{% extends 'base.html' %}
{% load static %}

{% block title %}О товаре{% endblock title %}

{% block head_plus %}
    <!-- Slick -->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/slick.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css">-->
{% endblock head_plus %}

{% block content %}
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ main_image }}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        {% if images %}
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left {% if images|length == 1 %} d-none {% endif %}"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--Slide-->
                                {% for images_3 in images %}
                                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                    <div class="row">
                                        {% for image in images_3 %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                                <!--Slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right {% if images|length == 1 %} d-none {% endif %}"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        {% endif %}
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.name }}</h1>
                            {% if product.active %}
                                <div class="pt-2">
                                     {% if product.discount %}
                                        <span class="h3"><s>{{ product.price }}</s> &#x20bd; &nbsp;</span>
                                        <span class="h2 text-success logo">
                                            <i class='fas fa-tags' style='font-size:24px'></i>
                                            {{ product.actual_price }} &#x20bd;</span>
                                    {% else %}
                                        <span class="h2 text-success logo">{{ product.price }} &#x20bd;</span>
                                    {% endif %}
                                </div>
                            {% else %}
                            <p class="h3 py-2">Нет в наличии</p>
                            {% endif %}

                            <br>
                            <h6>Описание:</h6>
                            <p>{{ product.description|safe|linebreaks }}</p>
                            <h6>Артикул:</h6>
                            {{ product.article }}

                            {% if product.active %}
                            <form action="{% url 'add_to_basket' %}" method="post" id="form_work_basket">
                                {% csrf_token %}
                                <input type="hidden" id="product_id" value="{{ product.id }}">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                Количество
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit">Добавить в корзину</button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Модальное окно: Сообщение о добавлении товара в корзину -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
          <div class="modal-heade m-2">
            <h5 class="modal-title" id="exampleModalLabel">Товар добавлен в корзину</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Close Content -->

{% endblock content %}

{% block script_plus %}
    <script src="{% static '/js/add_to_basket.js' %}"></script>
    <script src="{% static '/js/templatemo.js' %}"></script>
{% endblock script_plus %}
