{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты{% endblock title %}

{% block head_plus %}
    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% endblock head_plus %}

{% block content %}
    <div class="container-fluid bg-light py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Вход</h1>
                <p>
                    Пожалуйста, авторизуйтесь, чтобы войти в кабинет пользователя. <br>Или <a rel="sponsored" class="text-success" href="{% url 'register' %}">зарегистрируйтесь</a>.
                </p>
            </div>
        </div>

        <form method="post">

            <div class="row">
                <div class="col-md-4 m-auto text-center">
                    {% csrf_token %}
                    {% if error %}
                    <div style="color:red;">{{ error }}</div>
                    {% endif %}
                    <p><input class="form-control" type="email" name="email" placeholder="Email">
                    <input class="form-control" type="password" name="password" placeholder="Пароль"  autocomplete="current-password"></p>
                    <p><button type="submit" class="btn btn-success btn-lg" name="submit">Войти</button></p>
                </div>
            </div>

        </form>
    </div>

<!-- End Contact -->
{% endblock content %}

