{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock title %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1 class="h1">Личный кабинет</h1>
                    {{ profile.last_name }} {{ profile.first_name }} {{ profile.patronymic }}<br>
                    Email: {{ user.email }}
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 my-sm-3">
                <h3><a class="h3 text-dark text-decoration-none" href="{% url 'profile' %}">Профиль</a></h3>
                <h3><a class="h3 text-dark text-decoration-none" href="{% url 'profile' 'orders' %}">Заказы</a></h3>
                <h3><a class="h3 text-dark text-decoration-none" href="{% url 'exit' %}">Выход</a></h3>
            </div>

            <div class="col-lg-9">
                <!-- Профиль пользователя -->
                {% if chapter == 'profile' %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <!--                Поля-->
                    <div class="row">
                        <div class="col-md-3 my-sm-4 m-auto">
                            <input type="text" name="last_name" value="{{ profile.last_name }}" class="form-control"
                                   placeholder="Фамилия" title="Фамилия">
                        </div>
                        <div class="col-md-3 my-sm-4 m-auto">
                           <input type="text" name="first_name" value="{{ profile.first_name }}" class="form-control"
                                  placeholder="Имя" title="Имя" maxlength="64">
                        </div>
                        <div class="col-md-3 my-sm-4 m-auto">
                            <input type="text" name="patronymic"  value="{{ profile.patronymic }}" class="form-control"
                                   placeholder="Отчество" title="Отчество" maxlength="64">
                        </div>
                    </div>
                    <!--                Поля-->
                    <div class="row">
                        <div class="col-md-3 m-auto">
                            <input type="text" name="phoneNumber" value="{{ profile.phoneNumber }}" class="form-control"
                                   placeholder="Телефон" title="Телефон" maxlength="16">
                        </div>
                        <div class="col-md-7 m-auto">
                            <input type="text" name="address" value="{{ profile.address }}" class="form-control"
                                   placeholder="Адрес доставки" title="Адрес доставки" maxlength="128">
                        </div>
                    </div>
                    <div class="row my-4 justify-content-end">
                        <div class="col-md-3 text-center">
                            <button type="submit" class="btn btn-success btn-lg" name="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
                {% else %}
                <!-- Заказы пользователя -->
                    {% for order in orders %}
                    <div class="row">
                        <div class="col-md-12 my-sm-4 m-auto">
                            <h5>Заказ №{{ order.number }} от {{ order.created }}</h5>
                            <h6>Состав заказа:</h6>
                            <ol start="1">
                            {% for product in order.products %}
                                <li><a class="text-dark text-decoration-none"
                                       href="{% url 'shop-single' product.product.alias %}"><small>
                                        ({{ product.product.article }}) {{ product.product.name }}</small></a>
                                        <small>{{ product.quantity }} шт. по цене {{ product.price_selling }} &#x20bd;
                                        на сумму {{ order.price_total }} &#x20bd;</small></li>
                            {% endfor %}
                            </ol>

                            <b>Цена товаров: </b>{{ order.price_product }}&nbsp;&nbsp;&nbsp;
                            <b>Способ доставки: </b>{{ order.delivery_method }}&nbsp;&nbsp;&nbsp;
                            <b>Цена доставки: </b>{{ order.price_delivery }}&nbsp;&nbsp;&nbsp;
                            <b>Стоимость заказа: </b>{{ order.price_total }}
                            <p><b>Статус заказа: </b>{{ order.status }} &nbsp;&nbsp;&nbsp;{{ order.updated }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}

            </div>

        </div>
    </div>
</div>
    <!-- End Content -->



    <!-- End Contact -->
{% endblock content %}